* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  flex-wrap: wrap;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.login {
  max-width: 40%;
  display: flex;
  border: 2px solid;
  flex-wrap: wrap;
  background-color: #fafafa;
  border-radius: 10px;
  text-align: center;
  padding: 5% 5%;
  border: 2px solid;
  justify-content: center;
  margin: 20px;
}

.login h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  background-color: #eeeeef;
}

input[type="checkbox"] {
  float: left;
  margin-right: 20px;
}

.login a {
  margin-left: 5%;
  display: block;
  text-decoration: none;
  color: #000;
  transition: 0.3s all ease-in-out;
}
.login a:hover {
  color: #9526a9;
  font-weight: bold;
}
.login button {
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  border: none;
  background-color: #9526a9;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.btn {
  width: 40px;
  margin: 30px 0;
  padding: 10px;
  border: none;
  background-color: #9526a9;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.login button:hover {
  width: 97%;
  font-size: 22px;
  border-radius: 5px;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5px;
  flex-wrap: wrap;
}

#result {
  min-width: 50%;
  min-width: 50%;
  border: 1px solid;
}

#errorMessage,
#check {
  color: red;
  text-align: center;
}

#reset {
  width: 100%;
}

select {
  height: 30px;
  align-self: flex-start;
  margin-top: 5%;
  font-weight: 700;
}

#errorMessage,
#errorPassword {
  color: red;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.reguired {
  color: rgba(119, 119, 119, 0.63);
  font-weight: 700;
}
